/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 80%;
    transition-duration: 0.4s;
    padding-right: 10px;
    white-space: nowrap;
}

/* button click effect*/
.Btn:active {
    transform: translate(2px, 2px);
}
