@media (min-width: 1080px) {
    .hero_nav {
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 1079px) {
    .hero_nav {
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 0;
    }
}