@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

.testimonialsSection {
    font-family: "Barlow Semi Condensed", sans-serif;
}

.testimonialCardWrap {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
}
